/* General Styles */
body {
  background-image:url('5072612.jpg') ;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color:#f9f9f9;
  
}


  
header {
  
  text-align: center;
  padding: 20px;
  
}


header h1 {
  margin: 0;
  font-size: 2.5rem;
}

header nav {
  margin-top: 10px;
}

header nav button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #FFD700;
  color: #A50000;
  border: none;
  border-radius: 4px;
}

header nav button:hover {
  background-color: #A50000;
  color: #FFD700;
}


.login-tab {
  display: flex;
  justify-content: flex-end;
  padding: 10px;

}

.login-buttons button {
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: radius 4px;
  color: #f9f9f9;
  background-color: rgb(228, 228, 243);
  color:#3fb9d7;
  
}
.login-buttons button:hover{
  background-color: rgb(229, 244, 243);
  color:#3f80ab;
}

.hamburger-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
}

.hamburger-menu {
  position: relative;
}

.hamburger-menu button {
  font-size: 1.5rem;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  width: 100%;
  text-align: left;
  padding: 12px 16px;
  font-size: 1rem;
  cursor: pointer;
}

.hamburger-menu:hover .dropdown-content {
  display: block;
}

.notifications {
  flex-grow: 1;
  margin: 0 20px;
}

.notifications marquee {
  font-size: 1rem;
}

.settings {
  font-size: 1.5rem;
  cursor: pointer;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.settings-menu:hover  .dropdown-content{
  display:block;
}

.hero {
  text-align: center;
  padding: 50px 20px;
  
}


.hero h2 {
  font-size: 2rem;
}

.hero p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  
}

.card {
  background-color: #FF6347;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 30%;
  color: #8B0000;
}


.card h3 {
  font-size: 1.5rem;
}

footer {
  text-align: center;
  padding: 20px;
  
  color: #FFD700;
}


footer p {
  margin: 5px 0;
}
